Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub

.woodpecker/deploy.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/keycloak
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, README.md, Dockerfile]

steps:

  debian: &image
    image: kokuwaio/buildctl:v0.23.2
    settings: &settings
      name:
        - registry.kokuwa.io/kokuwaio/keycloak
        - registry.kokuwa.io/kokuwaio/keycloak:debian
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
        - docker.io/kokuwaio/keycloak
        - docker.io/kokuwaio/keycloak:debian
        - docker.io/kokuwaio/keycloak:26.3.2
        - docker.io/kokuwaio/keycloak:26.3.2-debian
        - ghcr.io/kokuwaio/keycloak
        - ghcr.io/kokuwaio/keycloak:debian
        - ghcr.io/kokuwaio/keycloak:26.3.2
        - ghcr.io/kokuwaio/keycloak:26.3.2-debian
      target: debian
      platform: [linux/amd64, linux/arm64]
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      annotation:
        org.opencontainers.image.title: Keycloak
        org.opencontainers.image.description: Keycloak container image for Kokuwa.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/keycloak
        org.opencontainers.image.version: 26.3.2
    when: [path: [.woodpecker/deploy.yaml, Dockerfile]]

  temurin:
    <<: *image
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/keycloak:temurin
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-temurin
        - docker.io/kokuwaio/keycloak:temurin
        - docker.io/kokuwaio/keycloak:26.3.2-temurin
        - ghcr.io/kokuwaio/keycloak:temurin
        - ghcr.io/kokuwaio/keycloak:26.3.2-temurin
      target: temurin

  distroless:
    <<: *image
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/keycloak:distroless
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-distroless
        - docker.io/kokuwaio/keycloak:distroless
        - docker.io/kokuwaio/keycloak:26.3.2-distroless
        - ghcr.io/kokuwaio/keycloak:distroless
        - ghcr.io/kokuwaio/keycloak:26.3.2-distroless
      target: distroless
      platform: [linux/amd64]

  dockerhub:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/keycloak
      description-short: Keycloak container image for Kokuwa.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}
    when: [path: [.woodpecker/deploy.yaml, README.md]]

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 135c31f
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update postgres:17.5 docker digest to fa6e571
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.5 docker digest to 0d5b8e3
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 8f8e63b
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update postgres:17.5 docker digest to 7a554f4
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.5 docker digest to aef2e62
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update docker.io/library/debian:12.11-slim docker digest to b1a7414
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update docker.io/library/debian docker tag from 12.11-slim to 13.0-slim
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update postgres:17.5 docker digest to 0f9d52b
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to bab7c62
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update postgres:17.5 docker digest to aadf2c0
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres docker tag from 17.5 to 17.6
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 29e0bb0
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.3.2 to 26.3.3
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 13d47b2
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update traefik docker tag from v3.5.0 to v3.5.1
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik:v3.5.1 docker digest to 664bb84
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update druidfi/mailhog:1.0.1 docker digest to 90f3641
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to d17be73
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 5250e61
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 64f1bfb
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update postgres:17.6 docker digest to 7be29db
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to ab24d83
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 29574e2
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 8a56bef
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.27.0 to 2.28.0
  pom.xml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to feff5b2
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik docker tag from v3.5.1 to v3.5.2
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik:v3.5.2 docker digest to f0abbbd
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.28.0 to 2.29.0
  pom.xml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.3.3 to 26.3.4
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update docker.io/library/debian docker tag from 13.0-slim to 13.1-slim
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin from 3.5.3 to 3.5.4
  pom.xml
Due: none

chore(deps): update dependency org.apache.maven.plugins:maven-failsafe-plugin from 3.5.3 to 3.5.4
  pom.xml
Due: none

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.0 to 3.14.1
  pom.xml
Due: none

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 6e14748
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 23624e8
  src/test/k3s/kustomization.yaml
Due: none
