Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub

.woodpecker/deploy.yaml:

when:
  instance: ci.kokuwa.io
  repo: kokuwaio/keycloak
  event: [manual, push]
  branch: main
  path: [.woodpecker/deploy.yaml, README.md, Dockerfile]

steps:

  debian: &image
    image: kokuwaio/buildctl:v0.23.2
    settings: &settings
      name:
        - registry.kokuwa.io/kokuwaio/keycloak
        - registry.kokuwa.io/kokuwaio/keycloak:debian
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
        - docker.io/kokuwaio/keycloak
        - docker.io/kokuwaio/keycloak:debian
        - docker.io/kokuwaio/keycloak:26.3.2
        - docker.io/kokuwaio/keycloak:26.3.2-debian
        - ghcr.io/kokuwaio/keycloak
        - ghcr.io/kokuwaio/keycloak:debian
        - ghcr.io/kokuwaio/keycloak:26.3.2
        - ghcr.io/kokuwaio/keycloak:26.3.2-debian
      target: debian
      platform: [linux/amd64, linux/arm64]
      auth:
        "https://index.docker.io/v1/":
          username: {from_secret: docker_io_username}
          password: {from_secret: docker_io_password}
        ghcr.io:
          username: {from_secret: ghcr_io_username}
          password: {from_secret: ghcr_io_password}
        registry.kokuwa.io:
          username: {from_secret: kokuwa_io_username}
          password: {from_secret: kokuwa_io_password}
      annotation:
        org.opencontainers.image.title: Keycloak
        org.opencontainers.image.description: Keycloak container image for Kokuwa.
        org.opencontainers.image.url: $CI_REPO_URL
        org.opencontainers.image.documentation: $CI_REPO_URL/README.md
        org.opencontainers.image.source: $CI_REPO_CLONE_URL
        org.opencontainers.image.revision: $CI_COMMIT_SHA
        org.opencontainers.image.vendor: kokuwa.io
        org.opencontainers.image.licenses: EUPL-1.2
        org.opencontainers.image.ref.name: kokuwaio/keycloak
        org.opencontainers.image.version: 26.3.2
    when: [path: [.woodpecker/deploy.yaml, Dockerfile]]

  temurin:
    <<: *image
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/keycloak:temurin
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-temurin
        - docker.io/kokuwaio/keycloak:temurin
        - docker.io/kokuwaio/keycloak:26.3.2-temurin
        - ghcr.io/kokuwaio/keycloak:temurin
        - ghcr.io/kokuwaio/keycloak:26.3.2-temurin
      target: temurin

  distroless:
    <<: *image
    settings:
      <<: *settings
      name:
        - registry.kokuwa.io/kokuwaio/keycloak:distroless
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-distroless
        - docker.io/kokuwaio/keycloak:distroless
        - docker.io/kokuwaio/keycloak:26.3.2-distroless
        - ghcr.io/kokuwaio/keycloak:distroless
        - ghcr.io/kokuwaio/keycloak:26.3.2-distroless
      target: distroless
      platform: [linux/amd64]

  dockerhub:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/keycloak
      description-short: Keycloak container image for Kokuwa.
      categories: [developer-tools, integration-and-delivery]
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}
    when: [path: [.woodpecker/deploy.yaml, README.md]]

chore(deps): update postgres:17.6 docker digest to 0f4f200
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.3.4 to 26.3.5
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update postgres:17.6 docker digest to 0b6428e
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik docker tag from v3.5.2 to v3.5.3
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to cecd364
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik:v3.5.3 docker digest to 84eb6c0
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update kokuwaio/docker-cli docker tag from 28.2.2 to 28.4.0
  .woodpecker/verify.yaml
Due: none

chore(deps): update kokuwaio/dockerd docker tag from 28.2.2 to 28.4.0
  .woodpecker/verify.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 43ae6be
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 14d1abe
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 1caf1c7
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.3.5 to 26.4.0
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.5.1 to 3.6.0
  pom.xml
Due: none

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 5.13.4 to 5.14.0
  pom.xml
Due: none

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 5.14.0 to 6.0.0
  pom.xml
Due: none

chore(deps): update postgres:17.6 docker digest to bb51eb3
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update org.keycloak:keycloak-client from 26.0.6 to 26.0.7
  pom.xml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update postgres:17.6 docker digest to 5e3f6d9
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to e6a4209
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.6.0 to 3.6.1
  pom.xml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update traefik:v3.5.3 docker digest to 1068909
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik:v3.5.3 docker digest to eb020bd
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update traefik:v3.5.3 docker digest to 76ac93e
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.0.1 to 2.0.2
  pom.xml
Due: none

chore(deps): update traefik:v3.5.3 docker digest to d6be872
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.0 to 26.4.1
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.6.1 to 3.6.2
  pom.xml
Due: none

chore(deps): update postgres:17.6 docker digest to 5760f35
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 603395c
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 66b37a5
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update postgres:17.6 docker digest to 5fb4625
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 8e52933
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to af5fa66
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update postgres:17.6 docker digest to 243a1ae
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.1 to 26.4.2
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update postgres:17.6 docker digest to b480430
  src/test/k3s/kustomization.yaml
Due: none

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to e050154
  Dockerfile
Due: deploy, debian, temurin, distroless

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 1769d4a
  Dockerfile
Due: deploy, debian, temurin, distroless
