Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub, verify, errors

deploy:
  steps:
    debian:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/keycloak
        - registry.kokuwa.io/kokuwaio/keycloak:debian
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
  ...

debian:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak
    - registry.kokuwa.io/kokuwaio/keycloak:debian
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
    - docker.io/kokuwaio/keycloak
  ...

temurin:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:temurin
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-temurin
    - docker.io/kokuwaio/keycloak:temurin
    - docker.io/kokuwaio/keycloak:26.3.2-temurin
    - ghcr.io/kokuwaio/keycloak:temurin
  ...

distroless:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:distroless
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-distroless
    - docker.io/kokuwaio/keycloak:distroless
    - docker.io/kokuwaio/keycloak:26.3.2-distroless
    - ghcr.io/kokuwaio/keycloak:distroless
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak
    description-short: Keycloak container image for Kokuwa.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
      from_secret: dockerhub_username
    password:
      from_secret: dockerhub_password

verify:
  steps:
    image:
      image: kokuwaio/docker-cli:28.4.0
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
      - docker buildx build . --platform=amd64,arm64 --target=debian     --tag=kokuwaio/keycloak:dev-debian
  ...

errors:
  image: kokuwaio/docker-cli:28.4.0
  commands:
  - docker logs k3s-maven-plugin
  - docker exec k3s-maven-plugin kubectl get all --all-namespaces --output=wide
  - docker exec k3s-maven-plugin ls /var/log/containers
  ...

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 28de087
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.6.3 to 26.6.4
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.1.0 to 6.1.1
  pom.xml
Due: verify, errors

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update org.keycloak:keycloak-client from 26.0.9 to 26.0.10
  pom.xml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to c12a277
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.6.4 to 26.7.0
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

fix: set git timestamp as build ts, otherwise jars will not work
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 4f682df
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.1.1 to 6.1.2
  pom.xml
Due: verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update org.keycloak:keycloak-client from 26.0.10 to 26.0.11
  pom.xml
Due: verify, errors

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.5-slim to 13.6-slim
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.1.0 to 2.2.0
  pom.xml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to b084472
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.2.0 to 2.3.1
  pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.5.0 to 3.5.1
  pom.xml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 2a71bab
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 90cf6fb
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 0be8a88
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 9a1ef1a
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update docker.io/library/debian:13.6-slim docker digest to 3a39a05
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.7.0 to 26.7.1
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update org.keycloak:keycloak-client from 26.0.11 to 26.0.12
  pom.xml
Due: verify, errors

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .justfile
  .woodpecker/lint.yaml
Due: none

fix: ignore new hadolint warning because bash is not recognized
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.1.2 to 6.1.3
  pom.xml
Due: verify, errors

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile
  debian: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  temurin: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  distroless: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, README.md)
  verify: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
