Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub, verify, errors

deploy:
  steps:
    debian:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/keycloak
        - registry.kokuwa.io/kokuwaio/keycloak:debian
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
  ...

debian:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak
    - registry.kokuwa.io/kokuwaio/keycloak:debian
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
    - docker.io/kokuwaio/keycloak
  ...

temurin:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:temurin
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-temurin
    - docker.io/kokuwaio/keycloak:temurin
    - docker.io/kokuwaio/keycloak:26.3.2-temurin
    - ghcr.io/kokuwaio/keycloak:temurin
  ...

distroless:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:distroless
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-distroless
    - docker.io/kokuwaio/keycloak:distroless
    - docker.io/kokuwaio/keycloak:26.3.2-distroless
    - ghcr.io/kokuwaio/keycloak:distroless
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak
    description-short: Keycloak container image for Kokuwa.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
      from_secret: dockerhub_username
    password:
      from_secret: dockerhub_password

verify:
  steps:
    image:
      image: kokuwaio/docker-cli:28.4.0
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
      - docker buildx build . --platform=amd64,arm64 --target=debian     --tag=kokuwaio/keycloak:dev-debian
  ...

errors:
  image: kokuwaio/docker-cli:28.4.0
  commands:
  - docker logs k3s-maven-plugin
  - docker exec k3s-maven-plugin kubectl get all --all-namespaces --output=wide
  - docker exec k3s-maven-plugin ls /var/log/containers
  ...

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 1c6329f
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.7.1 to 26.7.2
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 90003c9
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 2af5139
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 3c57dfe
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 2dcb2b2
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.6-slim docker digest to d7e1218
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to c97caa0
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.7.2 to 26.7.3
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to cc22e72
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.6 to 3.6.0
  pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.15.0 to 3.16.0
  pom.xml
Due: verify, errors

chore(deps): update dependency org.slf4j:slf4j-simple from 2.0.18 to 2.0.19
  pom.xml
Due: verify, errors

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.6.3 to 3.6.4
  pom.xml
Due: verify, errors

chore(deps): update dependency org.codehaus.mojo:tidy-maven-plugin from 1.4.0 to 1.4.1
  pom.xml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 6457ce0
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-install-plugin from 3.1.4 to 3.2.0
  pom.xml
Due: verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.7.3 to 26.7.4
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update docker.io/library/debian docker tag from 13.6-slim to 13.7-slim
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.7-slim docker digest to a99cfc5
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.slf4j:slf4j-simple from 2.0.19 to 2.0.20
  pom.xml
Due: verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.7.4 to 26.7.5
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.33.0 to v0.33.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.7.5 to 26.8.0
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update maven docker tag from 3.9.16-eclipse-temurin-17 to 3.10.0-eclipse-temurin-17
  .woodpecker/verify.yaml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to b318d13
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.7-slim docker digest to a29215f
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.33.1 to v0.34.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile
  debian: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  temurin: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  distroless: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, README.md)
  verify: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
