Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub, verify, errors

deploy:
  steps:
    debian:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/keycloak
        - registry.kokuwa.io/kokuwaio/keycloak:debian
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
  ...

debian:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak
    - registry.kokuwa.io/kokuwaio/keycloak:debian
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
    - docker.io/kokuwaio/keycloak
  ...

temurin:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:temurin
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-temurin
    - docker.io/kokuwaio/keycloak:temurin
    - docker.io/kokuwaio/keycloak:26.3.2-temurin
    - ghcr.io/kokuwaio/keycloak:temurin
  ...

distroless:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:distroless
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-distroless
    - docker.io/kokuwaio/keycloak:distroless
    - docker.io/kokuwaio/keycloak:26.3.2-distroless
    - ghcr.io/kokuwaio/keycloak:distroless
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak
    description-short: Keycloak container image for Kokuwa.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
      from_secret: dockerhub_username
    password:
      from_secret: dockerhub_password

verify:
  steps:
    image:
      image: kokuwaio/docker-cli:28.4.0
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
      - docker buildx build . --platform=amd64,arm64 --target=debian     --tag=kokuwaio/keycloak:dev-debian
  ...

errors:
  image: kokuwaio/docker-cli:28.4.0
  commands:
  - docker logs k3s-maven-plugin
  - docker exec k3s-maven-plugin kubectl get all --all-namespaces --output=wide
  - docker exec k3s-maven-plugin ls /var/log/containers
  ...

chore(deps): update maven docker tag from 3.9.11-eclipse-temurin-17 to 3.9.12-eclipse-temurin-17
  .woodpecker/verify.yaml
Due: verify, errors

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.0.2 to 2.0.3
  pom.xml
Due: verify, errors

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.6.2 to 3.6.3
  pom.xml
Due: verify, errors

chore(deps): update docker.io/library/debian:13.2-slim docker digest to def4126
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 91e29de
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 4bcb9db
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.7 to 26.5.0
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.1 to 6.0.2
  pom.xml
Due: verify, errors

chore(deps): update org.keycloak:keycloak-client from 26.0.7 to 26.0.8
  pom.xml
Due: verify, errors

chore(deps): update dependency net.revelc.code:impsort-maven-plugin from 1.12.0 to 1.13.0
  pom.xml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 25a40e3
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.0 to 26.5.1
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update docker.io/library/debian docker tag from 13.2-slim to 13.3-slim
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.1 to 26.5.2
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to d9a4dec
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 2aa07e0
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.1 to 3.15.0
  pom.xml
Due: verify, errors

chore(deps): update docker.io/library/debian:13.3-slim docker digest to bfc1a09
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.3-slim docker digest to f6e2cfa
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.2 to 26.5.3
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 9d265fe
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.3 to 26.5.4
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update docker.io/library/debian:13.3-slim docker digest to 1d3c811
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(ci): use external mirror domain
  .woodpecker/maven/registries.yaml
  .woodpecker/maven/settings.xml
Due: none

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.4 to 3.5.5
  pom.xml
Due: verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.2 to 6.0.3
  pom.xml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.4.0 to 3.5.0
  pom.xml
Due: verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.4 to 26.5.5
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.0.3 to 2.1.0
  pom.xml
Due: verify, errors

chore(deps): update maven docker tag from 3.9.12-eclipse-temurin-17 to 3.9.14-eclipse-temurin-17
  .woodpecker/verify.yaml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 943738b
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.5 to 26.5.6
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update docker.io/library/debian docker tag from 13.3-slim to 13.4-slim
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 8fed8eb
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile
  debian: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  temurin: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  distroless: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, README.md)
  verify: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
