Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub, verify, errors

deploy:
  steps:
    debian:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        name:
        - registry.kokuwa.io/kokuwaio/keycloak
        - registry.kokuwa.io/kokuwaio/keycloak:debian
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
        - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
  ...

debian:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak
    - registry.kokuwa.io/kokuwaio/keycloak:debian
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-debian
    - docker.io/kokuwaio/keycloak
  ...

temurin:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:temurin
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-temurin
    - docker.io/kokuwaio/keycloak:temurin
    - docker.io/kokuwaio/keycloak:26.3.2-temurin
    - ghcr.io/kokuwaio/keycloak:temurin
  ...

distroless:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    name:
    - registry.kokuwa.io/kokuwaio/keycloak:distroless
    - registry.kokuwa.io/kokuwaio/keycloak:26.3.2-distroless
    - docker.io/kokuwaio/keycloak:distroless
    - docker.io/kokuwaio/keycloak:26.3.2-distroless
    - ghcr.io/kokuwaio/keycloak:distroless
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak
    description-short: Keycloak container image for Kokuwa.
    categories:
    - developer-tools
    - integration-and-delivery
    username:
      from_secret: dockerhub_username
    password:
      from_secret: dockerhub_password

verify:
  steps:
    image:
      image: kokuwaio/docker-cli:28.4.0
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
      - docker buildx build . --platform=amd64,arm64 --target=debian     --tag=kokuwaio/keycloak:dev-debian
  ...

errors:
  image: kokuwaio/docker-cli:28.4.0
  commands:
  - docker logs k3s-maven-plugin
  - docker exec k3s-maven-plugin kubectl get all --all-namespaces --output=wide
  - docker exec k3s-maven-plugin ls /var/log/containers
  ...

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to d397a51
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.6 to 26.5.7
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 4ffb3a1
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.5.7 to 26.6.0
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

fix: changes by org.keycloak:keycloak-quarkus-dist 26.6.0
  src/test/java/io/kokuwa/keycloak/K3sIT.java
Due: verify, errors

chore(ci): add just linter, use mirror from env, update k3s
  .justfile
  .woodpecker/lint.yaml
  .woodpecker/maven/registries.yaml
  .woodpecker/maven/settings.xml
  pom.xml
Due: verify, errors

feat: add arm64 build for distroless
  .justfile
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
  Dockerfile
  README.md
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.48.1 to 1.49.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.6.0 to 26.6.1
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update org.keycloak:keycloak-client from 26.0.8 to 26.0.9
  pom.xml
Due: verify, errors

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.50.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update maven docker tag from 3.9.14-eclipse-temurin-17 to 3.9.15-eclipse-temurin-17
  .woodpecker/verify.yaml
Due: verify, errors

chore(deps): update docker.io/library/debian:13.4-slim docker digest to e02d667
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.4-slim docker digest to cedb1ef
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to c761cf3
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 4bf1319
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to a0f3d44
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to b0e67f7
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.4-slim docker digest to bacd8d9
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 109e2c6
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.50.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 965fa03
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.slf4j:slf4j-simple from 2.0.17 to 2.0.18
  pom.xml
Due: verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 81d09ca
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.6.1 to 26.6.2
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update maven docker tag from 3.9.15-eclipse-temurin-17 to 3.9.16-eclipse-temurin-17
  .woodpecker/verify.yaml
Due: verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.3 to 6.1.0
  pom.xml
Due: verify, errors

chore(deps): update docker.io/library/debian docker tag from 13.4-slim to 13.5-slim
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6e2a15
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.5 to 3.5.6
  pom.xml
Due: verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.6.2 to 26.6.3
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.52.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 545a166
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.5-slim docker digest to b6f94ac
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.5-slim docker digest to 4e401d9
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile
  debian: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  temurin: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  distroless: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, README.md)
  verify: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
