Repository kokuwaio/keycloak: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, debian, temurin, distroless, dockerhub, verify, errors

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile
  debian: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  temurin: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  distroless: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, Dockerfile)
  dockerhub: (any of: .woodpecker/deploy.yaml, README.md, Dockerfile) and (any of: .woodpecker/deploy.yaml, README.md)
  verify: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**
  errors: any of: .woodpecker/verify.yaml, Dockerfile, pom.xml, src/**

chore(deps): update traefik docker tag from v3.5.3 to v3.5.4
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update traefik:v3.5.4 docker digest to 4df0a50
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update dependency org.junit.jupiter:junit-jupiter-api from 6.0.0 to 6.0.1
  pom.xml
Due: verify, errors

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 9b6ccd2
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update postgres:17.6 docker digest to 1da445c
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update postgres:17.6 docker digest to 5b5b35a
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update docker.io/library/debian:13.1-slim docker digest to a347fd7
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update postgres:17.6 docker digest to 00bc866
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to aa1cec4
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.2 to 26.4.3
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.3 to 26.4.4
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update traefik docker tag from v3.5.4 to v3.5.6
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update traefik:v3.5.6 docker digest to 16acb89
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update traefik docker tag from v3.5.6 to v3.6.0
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.4 to 26.4.5
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update traefik docker tag from v3.6.0 to v3.6.1
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.4.2 to 3.5.0
  pom.xml
Due: verify, errors

chore(deps): update postgres docker tag from 17.6 to 17.7
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update postgres:17.7 docker digest to ecebd23
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update postgres:17.7 docker digest to 5ecd7c6
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update traefik docker tag from v3.6.1 to v3.6.2
  src/test/k3s/kustomization.yaml
Due: verify, errors

chore(deps): update docker.io/library/debian docker tag from 13.1-slim to 13.2-slim
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update postgres:17.7 docker digest to f337b02
  src/test/k3s/kustomization.yaml
Due: verify, errors

fix(renovate): disable updates for test dependencies
  README.md
  renovate.json
Due: deploy, dockerhub

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.5 to 26.4.6
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.3.1 to 3.4.0
  pom.xml
Due: verify, errors

chore(deps): update dependency org.keycloak:keycloak-quarkus-dist from 26.4.6 to 26.4.7
  .woodpecker/deploy.yaml
  Dockerfile
Due: deploy, debian, temurin, distroless, dockerhub, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 8292ef1
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update docker.io/library/debian:13.2-slim docker digest to e711a7b
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update gcr.io/distroless/java17:nonroot docker digest to 4db00c8
  Dockerfile
Due: deploy, debian, temurin, distroless, verify, errors

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/deploy.yaml
Due: deploy, debian, temurin, distroless, dockerhub
